<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4
        });
        var bounds = new google.maps.LatLngBounds();



        var contentString = "";

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        //FOR LOOP TO ADD STATION MARKERS
        <% @stations.each do |station| %>

          // var stationPos = {lat:<%=station.latitude%>, lng:<%=station.longitude%>}
          // var marker = new google.maps.Marker({
          //   position: stationPos,
          //   map: map,
          //   title: 'STATION'
          // });
          // bounds.extend(marker.position);
          // marker.addListener('click', function() {
          //   infowindow.open(map, marker);
          // });
        <% end %>
        <% @trains["entity"].each do |train| %>
          <% if train.key?("trip_update") %>
            <% if train["trip_update"].key?("stop_time_update") %>
              <% prevLoc = train["trip_update"]["stop_time_update"][-2] %>;
              <% currentLoc = train["trip_update"]["stop_time_update"][-1]%>;
              <% if currentLoc.key?("departure") %>
              <% elsif currentLoc.key?("arrival") %>
                <% station = Station.find_by(stop_id: train["trip_update"]["stop_time_update"][-1]["stop_id"][0..2]) %>
                <% if station %>
                  var location = {lat:<%=station.latitude%>, lng: <%=station.longitude%>};
                  var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: 'BLURBLURBLURB'
                  });
                  bounds.extend(marker.position);
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>


        map.fitBounds(bounds);

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD_RUEIv_EzTGZTx3JdAX_DR335Ou44hU&callback=initMap">
    </script>
  </body>
</html>
