<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s4">
        <h5>Team TrainScotting</h5>
        <p>We are a team of software developers who created ontheRails - a MTA subway line real-time visualization project. </p>
      </div>
      <div class="col l1 s1"></div>
      <div class="col l5 s5">
        <h5>Coded by</h5>
        <ul credits>
          <div class="row">
            <div class="col s6">
              <li><a href="https://github.com/dixonscottr" class="black-text">Scott Dixon</a></li>
            </div>
            <div class="col s6">
              <li><a  href="https://github.com/jacobgwilliams" class="black-text">Jacob Williams</a></li>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <li><a href="https://github.com/jpperlm" class="black-text">Jason Perlman</a></li>
            </div>
            <div class="col s6">
              <li><a href="https://github.com/nanutza" class="black-text">Nan Min</a></li>
            </div>
          </div>
        </ul>
      </div>

    <div class="col l2 s2">
          <h6>Follow us</h6>
        <a href="https://github.com/dixonscottr/ontherails"><img alt="Click to view the On The Rails GitHub Repository" src="/img/GitHub-Mark-32px.png" /></a>
        <a href="https://twitter.com/onthe_Rails" ><img alt="onthe Rails - twitter" src="/img/twitter-512.png" width="35px"/></a>
    </div>
  </div>
  </div>

  <div class="footer-copyright">
    <div class="container black-text">
    © 2016 ontheRails, All rights reserved.
    <a class="black-text right" href=https://github.com/dixonscottr/ontherails/wiki/MIT-license>MIT License</a>
    </div>
  </div>

</footer>
