<div class='footer'>
  <ul class='credits'>
    <li>Coded by:</li>
    <li><a href='https://github.com/dixonscottr'>Scott</a></li> -
    <li><a href='https://github.com/nanutza'>Nan</a></li> -
    <li><a href='https://github.com/jpperlm'>Jason</a></li> -
    <li><a href='https://github.com/jacobgwilliams'>Jacob</a></li> -
    <li><a href='https://github.com/google'>Google</a></li>
  </ul>
</div>
