<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s6">
        <h5>Team TrainScotting</h5>
        <p>We are a team of software developers who created ontheRails - a MTA subway line real time visualization project. </p>
      </div>
      <div class="col l3 s6">
        <h5>Coded by</h5>
        <ul credits>
          <li><a href="https://github.com/dixonscottr/ontherails" ><img alt="Click to view the On The Rails GitHub Repository" src="/img/GitHub-Mark-32px.png" /></a></li>
          <li><a href="https://github.com/dixonscottr" class="black-text">Scott Dixon</a></li>
          <li><a  href="https://github.com/jacobgwilliams" class="black-text">Jacob Williams</a></li>
          <li><a href="https://github.com/jpperlm" class="black-text">Jason Perlman</a></li>
          <li><a href="https://github.com/nanutza" class="black-text">Nan Min</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
    © 2016 ontheRails, All rights reserved.
    <a class="black-text right" href=https://github.com/dixonscottr/ontherails/wiki/MIT-license>MIT License</a>
    </div>
  </div>
</footer>
