<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l9 s6">
        <h5 class="white-text">Team TrainScotting</h5>
        <p class="grey-text text-lighten-4">We are a team of software developers who created ontheRails - a MTA subway line real time visualization project. </p>


      </div>
      <div class="col l3 s6">
        <h5 class="white-text">Coded by</h5>
        <ul credits>
          <li><a href="https://github.com/dixonscottr/ontherails"><img alt="Click to view the On The Rails GitHub Repository" src="/img/GitHub-Mark-32px.png" /></a></li>
          <li><a class="white-text" href="https://github.com/dixonscottr">Scott Dixon</a></li>
          <li><a class="white-text" href="https://github.com/jacobgwilliams">Jacob Williams</a></li>
          <li><a class="white-text" href="https://github.com/jpperlm">Jason Perlman</a></li>
          <li><a class="white-text" href="https://github.com/nanutza">Nan Min</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 ontheRails, All rights reserved.
    <a class="grey-text text-lighten-4 right" href=https://github.com/dixonscottr/ontherails/wiki/MIT-license>MIT License</a>
    </div>
  </div>
</footer>
