<nav>
</nav>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class='collapse navbar-collapse row toggle' id="navBar">
      <div class="col-sm-5">
        <img src="img/rails.jpg" width="30%"/>
      </div>
      <div class="col-sm-1">
        <button data-toggle="button" aria-pressed="false" data-target="#myModal" class="btn btn-circle raised purple checked center-block" onclick="handleClick(this)" name="line" value="1">1</button>
        <div><span id='1-service' class="label center-block label-success">On Time</span></div>
      </div>
      <div class="col-sm-1">
        <button data-toggle="button" aria-pressed="false" class="btn btn-circle raised blue checked center-block" onclick="handleClick(this)" name="line" value="2">2</button>
        <div><span id='2-service' class="label center-block label-success">On Time</span></div>
      </div>
      <div class="col-sm-1">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised green checked center-block" onclick="handleClick(this)" name="line" value="3">3</button>
        <div><span id='3-service' class="label center-block label-success">On Time</span></div>
      </div>
      <div class="col-sm-1">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised yellow checked center-block" onclick="handleClick(this)" name="line" value="4">4</button>
        <div><span id='4-service' class="label center-block label-success">On Time</span></div>
        <p ></p>
      </div>
      <div class="col-sm-1">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised orange checked center-block" onclick="handleClick(this)" name="line" value="5">5</button>
        <div><span id='5-service' class="label center-block label-success">On Time</span></div>
      </div>
      <div class="col-sm-1">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised red checked center-block" onclick="handleClick(this)" name="line" value="6">6</button>
        <div><span id='6-service' class="label center-block label-success">On Time</span></div>
      </div>
    </div>
  </div>
</nav>
