<div class='container-fluid footer'>
  <div class="row">
    <div class="col-sm-2 errors">
      <% if @error%>
        <p><%= @error %></p>
      <% end %>
    </div>
    <div id='mta-timestamp' >
        <p class="small topMta">Last update from MTA: <span id='update_time'>9,000,000 BCE</span></p>
    </div>
</div>

</div>
