<div class='container-fluid footer'>
  <div class="row">
    <div class="col-sm-2">
      <form id='train-updater' action='/update_trains' method='get'>
        <input type='submit' class='bottom-button' value='Update trains' />
      </form>
    </div>
    <div class="col-sm-2">
      <form id='service-updater' action='/update_line_service' method='get'>
        <input type='submit' class='bottom-button' value='MTA service status' />
      </form>
    </div>
    <div class="col-sm-2">
      <form id='reset-button'>
        <input type='submit' class='bottom-button' value='Update Everything' />
      </form>
    </div>
    <div class="col-sm-2" id='mta-timestamp' id="update_time">
        <p class="small">Train locations last updated by MTA at <%= Time.now.strftime("%m/%d/%Y %H:%M") %></p>
    </div>
    <div class="col-sm-2 errors">
      <% if @error%>
        <p><%= @error %></p>
      <% end %>
    </div>
</div>
