<!DOCTYPE html>
<html>
  <head>
    <title>Ontherails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header><h1>On the Rails</h1></header>
    <%= yield %>
    <footer>
      <form id='train-updater' action='/update_trains' method='get'>
        <input type='submit' value='Update these trains' />
      </form>
      <div class='train-locations'>
        <h2>Things go here</h2>
      </div>
    </footer>
  </body>
</html>
